{% extends 'base.html' %}

{% block content %}
<h1>Login page</h1>

<form action="{% url 'loginpage' %}" method="post">
  {% csrf_token %}
  <div>
  <label for="username" class="form-container">Entrez un pseudonyme : </label>
  <input type="text" id="username" placeholder="Entrer un pseudo" name="username" class="form-container" required>

  <label for="password" class="form-container">Entrez votre mot de passe de connexion :</label>
  <input type="password" id="password"  placeholder="password" name="pass" class="form-container" required>

<button name="submit" class="form-container">Envoyer</button>
</div>
</form>

<style>
  div {

	width: 150px;
	float: left;
  }
   h2{
    text-align: center;
  }
  
        .form-container button:hover {
            background-color: #45a049;
        }
</style>

{% endblock content %}